* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto',
        sans-serif;
    background-color: #fff;
}

a {

    text-decoration: none;
}

ul {
    list-style: none;
}

.conteiner {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

/*----------header------------*/
.header {
    padding-bottom: 30px;
}

.header__wrapp {
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo-img {
    width: 250px;
}

.logo__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #636363;
    text-align: right;
}

.header__wrapp-box {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contact-email {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    color: #ff0202;
    padding-bottom: 10px;
}

.header__contact-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #636363;
}

.form__city {
    width: 36%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.form__sity-list {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}


.header__tel-link {
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    color: #ff0202;
}

.header__tell-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #636363;
}

.header__box-inner {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 5px 24px rgb(108 17 17 / 19%);
    width: 100%;
    position: absolute;
    bottom: -70px;
    left: -9px;
    z-index: 3;

}

.menu__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu__list-inner {
    width: 100%;
    padding: 18px 15px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__list-inner:hover {
    background: #ebebeb;
}


.header__wrapp-btn {
    display: flex;
    justify-content: space-between;
    width: 33%;
}

.btn {
    border: none;
    outline: none;
    display: block;
    background: #ff0202;
    padding: 18px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 3px 0 rgba(153, 30, 30, 0.8);
    transition: .4s;
    cursor: pointer;
}

.btn:hover {
    background: rgb(177, 13, 13);
    box-shadow: 0 3px 0 rgba(177, 13, 13, 1);
}

/*-----------main------------*/

.main__list {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

}

.main__conteiner {
    position: relative;
}

.main__list-link,
.menu__list-link {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #ff0202;
    text-align: center;
}


.main__list-link:hover {
    text-decoration: underline;
}

.main__wrapp {
    position: relative;
}

.main__wrapp-img {
    max-width: 100%;
}

.main__wrapp-inner {
    padding-left: 180px;
    padding-top: 10px;
    position: absolute;
    top: 70px;
    left: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #fff;
}

.main__wrapp-title {
    width: 790px;
}

.main__wrapp-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.main__wrapp-text span {
    font-weight: 700;
    font-size: 64px;
    line-height: 183px;
    position: relative;
    top: 12px;
}

.main__wrapp-box {
    box-shadow: 0px 64px 134px rgb(0 0 0 / 10%);
    width: 72%;
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    display: flex;
    border-radius: 10px;
    z-index: 1;
}

.btn {
    position: relative;
    overflow: hidden;
}

.btn::after {
    content: '';
    width: 2em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    transform: translateX(-5em) skewX(-45deg);
    transition: .5s;
    animation: move__light 4s infinite;
}

@keyframes move__light {
    from {
        transform: translateX(-5em) skewX(-45deg);
    }

    to {
        transform: translateX(50em) skewX(-45deg);
    }

}


.main__form {
    padding: 40px 27px 40px 50px;
}

.main__form-tile {
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    padding-bottom: 10px;
}

.main__wrapper {
    background: #f4f4f4;
    position: relative;
    padding-top: 75px;
    z-index: 0;
}

.main__form-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 15px;
}

.main__form-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

.main-input {
    width: 50%;
    display: block;
    padding: 18px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.main__cont {
    background: url('../images/back.png') no-repeat center center/cover;
}


.main__form-subtext,
.main__form-link {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

.main__cont {
    width: 38%;
    padding: 50px 15px 0 98px;
    color: #fff;
}

.main__cont-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.main__cont-text {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
}

.main__cont-text span {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.main__cont-subtext {
    text-align: right;
}

/*-----block title----------*/
.task {
    padding: 60px 0 90px;
}

.block__title-subttitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #ff0202;
    padding-bottom: 10px;
}

.block__title-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 40px;
    margin: 0 0 30px;
    color: #373737;
}

/*-----task------------*/
.task__wrapp {
    max-width: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task__wrapp-box {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
}

.task__box-inner {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task__box-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 3px;
    font-weight: 700;
}

.task__box-text {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

.task__box-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: red;
}

.task__box-link:hover {
    text-decoration: underline;
}


.task__box-link::after {
    content: url('../images/arrow.png');
}

/*-----------tariff--------------*/
.tariff {
    background: url('../images/tafig__back.jpg') no-repeat center center;
    padding-bottom: 60px;
}

.tarif__block {
    padding-bottom: 30px;
}

.tarif__box {
    display: none;
}

.tarif__box-active {
    display: block;
}

.tarif__wrapp-list {
    display: flex;
    justify-content: start;
}

.tarif__list-inner {
    position: relative;
    color: red;
    padding: 15px 10px;
    font-size: 36px;
    line-height: 20px;
    border-bottom: 1px dashed red;
    cursor: pointer;
    transition: .2s;
    margin-right: 25px;
}

.tarif__list-inner:hover,
.tarif__inner-active {
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 6px;
}

.tarif__list-opt {
    position: absolute;
    left: 0;
    top: 65px;
    display: none;
}

.tarif__inner-active .tarif__list-opt {
    display: block;
}

.tarif__opt-title {
    font-size: 12px;
    line-height: 15px;
    color: #232222;
}

.tarif__opt-link {
    font-size: 12px;
    line-height: 15px;
    color: red;
}

.tarif__box-title {
    padding: 80px 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: red;
}

.tarif__box-span {
    position: relative;
    top: 30px;
    font-weight: 700;
    font-size: 120px;
    line-height: 100px;
}

.tarif__box-inner {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 30px;
}

.tarif__checkbox {
    padding-right: 30px;
}




.tarif-btn {
    display: inline-block;
}

/*--------------mailing---------------*/
.mailing {
    padding: 70px 0;
}

.mailing__block {
    max-width: 900px;
}

.mailing__wrappers {
    box-shadow: 0 5px 24px #4a1e01;
    border-radius: 10px;
    overflow: hidden;
}

.mailing__wrapp-list {
    display: flex;
    justify-content: space-between;
}

.mailing__wrapp-inner {
    width: 25%;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    text-align: left;
    padding: 20px 10px;
    background: rgba(0, 0, 0, .07);
    cursor: pointer;
    color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.mailing__wrapp-inner--active {
    color: red;
    background: #fff;
}

.mailing__wrapp-box {
    padding: 40px 35px 10px 35px;
    background: #fff;
    display: none;
}

.mailing__wrapp-box--active {
    display: block;
}

.mailing__box-inner {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #202020;
    padding-bottom: 30px;
    margin-left: 35px;
    position: relative;
}

.mailing__box-inner::before {
    content: url("../images/mailing__icon.png");
    position: absolute;
    left: -30px;
}

.mailing__box-link {
    color: #ff0000;
    text-decoration: underline;
}

/*-----------benefits-----------*/
.benefits-wrapp {
    max-width: 1000px;
}

.benefits__box-inner {
    width: 320px;
}

/*-------------mail-----------*/
.mail {
    padding: 60px 0;
}

.mail-title {
    text-align: center;
    padding-bottom: 50px;
}

.mail__wrapp {}

.mail__wrapp-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.mail__wrapp-box:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.mail__box-inner {
    max-width: 390px;
    color: #ff0000;
    font-size: 30px;
    line-height: 30px;
}

.mail__box-title {
    font-weight: 700;
    padding-bottom: 30px;
}

.mail__box-text {
    font-weight: 400;
}

/*--------test--------*/
.test {
    padding-bottom: 60px;
}

.test__wrapp-box {
    width: 100%;
    position: relative;
    top: 0;
    display: none;
}

.test__wrapp {
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 5px 24px #4a1e01;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #000;

}

.test__wrapp-box-active {
    display: flex;
}

.test__wrapp-list {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test__wrapp-inner {
    width: 34%;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 30px 0;
    background: rgba(0, 0, 0, .07);
}


.test__wrapp-inner-active {
    background: #fff;
}

/*---------------companies------------*/
.companies {
    padding-top: 120px;
    background: url('../images/fon.jpg') no-repeat center center;
}


.conteiner__box {
    position: relative;
    width: 228px;
    height: 260px;
}

.conteiner__box-img {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}

.conteiner__box-inner {
    width: 228px;
    height: 130px;
    background: rgb(177, 13, 13);
    position: absolute;
    top: 66px;
}


.conteiner__box-inner:nth-child(2) {
    transform: rotate(-60deg);
}

.conteiner__box-inner:nth-child(3) {
    transform: rotate(60deg);
}

.compaines__wrapp {
    width: 930px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.compaines__wrapp:nth-child(2) {
    width: 700px;
    top: -50px;
}

.compaines__wrapp:nth-child(3) {
    top: -100px;
}

/*-----------accordion--------------*/
.accordion {
    padding: 60px 0;
}

.accordion__wrapp {
    padding: 40px;
    box-shadow: 0 5px 24px rgb(74 30 30 / 50%);
    border-radius: 6px;
    background-color: #fff;
}

.accordion__wrapp-inner {
    box-shadow: 0 10px 60px rgb(0 0 0 / 15%);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordion-title {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    color: #444;
    cursor: pointer;

    padding: 33px 45px 33px 38px;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: left;


    font-size: 20px;
    line-height: 24px;
    color: #102f52;
    position: relative;
}


.active {
    padding: 33px 45px 0 38px;
}


.accordion-title:after {
    content: url('../images/plus.png');
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.active:after {
    content: url('../images/minus.png');
    transform: rotate(180deg);
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    padding: 17px 38px 28px 38px;
    font-weight: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #102f52;
}

/*-------------contact-----------*/
.contact {
    padding-bottom: 70px;
}

.contact__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

..contact__wrapp-inner {}

.contact__inner-text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

.contact__inner-box {
    padding: 30px 0 50px;
}

.contact__tell {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #000;

}

.contact-mail {
    display: block;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    color: red;
}

.contact__wrapp-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.contact__wrapp-content {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.contact__form {
    box-shadow: 0 5px 24px rgb(74 30 30 / 50%);
    border-radius: 6px;
    background-color: #fff;
    padding: 50px 50px 67px;
}

.contact__form-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 10px;
}

.contact__form-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 15px;
}

.contact__form-input {
    border-radius: 5px;
    width: 70%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 18px 10px;
    margin-bottom: 20px;
}

.btn {}

.contact__form-content {
    padding-top: 25px;
}

.contact__form-link {
    text-decoration: underline;
}